/* StateResults.css */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  color: #4caf50;
  margin-bottom: 20px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.results-gif {
  width: 300px; /* Adjust the size as needed */
  height: auto;
  border-radius: 10px;
}

.state-map-container {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  height: 400px;
}

.back-to-map-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-to-map-button:hover {
  background-color: #45a049;
}
